@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-color: #191817;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.post{
    background-color: white;
    margin: 0 auto;
    width: 35%;
}
.post-header > div{
    float:left;
    padding: 15px;
}
#header-text{
     width: 10px;
}
#header-el{
    float: right; 
    padding-right: 10px;
}
.post-body{
    padding-bottom: 10px;    
}
.post-action{ 
    padding: 15px 0 30px 15px;
}
.post-action > div{
    float:left;  
    margin: 5px;
}
#action-bm{
    float: right; 
    padding-right: 10px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
p{
    text-align: justify;
    margin: 25px 10px 10px 10px;
}